body {
    margin: 0 auto 0 auto;
    max-width: 1080px;
}
#guitar-h2 {
    background-color: cadetblue;
    margin: 0%; 
     font-size: 45px;
}

#guitar {
    margin: 80px auto 80px auto;
    background-color: rgb(214, 233, 233);
  
}

#guitar-h2::first-letter {
    font-size: 100px;
    background-color: chocolate;
    
}
h3 {
    margin: 0%;
    font-size: 28px;
}
p{
    margin: 0;
    font-size: 18px;
}

#guitar > div{
    display: flex;justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
}

.shop {
    padding: 10px;
    margin-bottom: 30px;;
    width: 300px;
    height: 330px;
    position: relative;
   
}
#bass {
    margin: 80px auto 80px auto;
    background-color: rgb(214, 233, 233);
  
}

#bass-h2 {
    background-color:chocolate;
    margin: 0%; 
     font-size: 45px;
}

#bass-h2::first-letter {
    font-size: 100px;
    background-color: cadetblue ;

}

#bass > div{
    display: flex;justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}


.shop-img {
   
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    
}

span {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 31;
    margin-right: 20px;
    color: beige;
  }

 span > h3 {
    color: #2710d5;
    font-size: 19px;
    margin: 80px 0 0 0;
  }
  
span > h3::first-letter {
    font-size: 40px;
  }
  

  
  .vision-box > span > p {
    margin: 10px 0 0 0;
  }